<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="fa fa-user-o"></span>Gestion de Stock</h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="#" class="active"><span
                        class="fa fa-home"></span><span>Accueil</span></a>
            </li>
            <li>
                <a href="/admin"><span
                        class="fa fa-tasks"></span><span>Articles Liste</span></a>
            </li>
            <li>
                <a href="#"><span
                        class="fa fa-th-large"></span><span>Vente List</span></a>
            </li>
        </ul>
    </div>
</div>